@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf") format("opentype");
    font-weight: normal;
}


/*
#c5ebd6
#83e1ad
#3ddc84
#2fa856
#1a5c37
#063d1e
*/

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa856;
    --cor4: #1a5c37;
    --cor5: #063d1e; 

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    
   font-family: var(--font-padrao);
}

header{
    background-color:#1a5c37;
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
}

header > p{
    color: white;
}

nav{
    background-color: #063d1e;
}

main{
    background-color: white;
}

main > h1 {
    color: #83e1ad;
    font-family: var(--fonte-android);
}

main > h2{
    font-family: var(--fonte-android);

}

footer{
    background-color:#063d1e ;

    color: white;
}